/* space-grotesk-500 - latin */
@font-face {
    font-family: 'Space Grotesk 500';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/space-grotesk/space-grotesk-v1-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/space-grotesk/space-grotesk-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/space-grotesk/space-grotesk-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/space-grotesk/space-grotesk-v1-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/space-grotesk/space-grotesk-v1-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/space-grotesk/space-grotesk-v1-latin-500.svg#SpaceGrotesk') format('svg'); /* Legacy iOS */
}
/* space-grotesk-regular - latin */
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/space-grotesk/space-grotesk-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/space-grotesk/space-grotesk-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/space-grotesk/space-grotesk-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/space-grotesk/space-grotesk-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/space-grotesk/space-grotesk-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/space-grotesk/space-grotesk-v1-latin-regular.svg#SpaceGrotesk') format('svg'); /* Legacy iOS */
}


/* halvetica-neue-regular */
@font-face {
    font-family: 'Halvetica Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/halvetica-neue/HelveticaNeueRegular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/halvetica-neue/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/halvetica-neue/HelveticaNeueRegular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/halvetica-neue/HelveticaNeueRegular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/halvetica-neue/HelveticaNeueRegular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/halvetica-neue/HelveticaNeueRegular.svg#SpaceGrotesk') format('svg'); /* Legacy iOS */
}
/* halvetica-neue-700 */
@font-face {
    font-family: 'Halvetica Neue Medium';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/halvetica-neue/HelveticaNeueMedium.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/halvetica-neue/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/halvetica-neue/HelveticaNeueMedium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/halvetica-neue/HelveticaNeueMedium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/halvetica-neue/HelveticaNeueMedium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/halvetica-neue/HelveticaNeueMedium.svg#SpaceGrotesk') format('svg'); /* Legacy iOS */
}